<!doctype html>
<html ng-app="LumberJack">
<head>
    <title>XMLParse</title>
    
    <link rel="stylesheet" type="text/css" href="../style/bootstrap.min.css" />

    <script type="text/javascript" src="../scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../scripts/angular-messages.min.js"></script>
</head>
<body>
    <style>
        body {
            min-width: 400px;
        }

        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        .pad{
            padding: 10px;
        }
    </style>

    <br />

    <form name="lumberJackForm" ng-controller="LumberJackController">
        <div class="center">
            <h4>LumberJack! TEST</h4>
            <br />
            <p>Use this tool to nicely format XML.</p>
        </div>

        <br />

        <div class="center" ng-show="hasBeenParsed">
            <div class="row">
                <label for="project_name_filter"> Highlight Text: </label>
                <input id="project_name_filter"
                       name="highlightInput"
                       type="text"
                       ng-minlength="1"
                       ng-maxlength="100"
                       class="form-control"
                       ng-model="filter.textSearch" />
                </div>

            <div ng-if="lumberJackForm.$dirty" ng-messages="lumberJackForm.highlightInput.$error" style="color:red" role="alert">
                <ng-message when="minlength" translate>Minimum highlight length not met. (1)</ng-message>
                <ng-message when="maxlength" translate>Maximum hightlight length exceeded. (100)</ng-message>
            </div>

            <div class="row">
                <button type="button"
                        class="btn btn-info"
                        ng-disabled="!lumberJackForm.$valid"
                        ng-click="highlightText()">
                    Highlight Text
                </button>
            </div>
        </div>

        <div class="center" ng-show="!hasBeenParsed">
            <div class="row pad">
                <input disabled
                       type="checkbox"
                       ng-model="filter.removeOuterElement" />
                <span>Remove outer element on parse</span>
            </div>
            <div class="row pad">
                <label>Block to Parse:</label>
                <textarea id="text_entry"
                          name="parseInput"
                          class="form-control"
                          rows="4"
                          required
                          ng-minlength="1"
                          ng-model="parseBlock"></textarea>
            </div>
        </div>

        <div class="center" ng-show="hasBeenParsed">
            <div ng-repeat="outPut in parseOutPut">
                <div class="col-md-4">
                    <span id="property_output_{{$index}}"><b>Property Name</b>:{{outPut.Name}}</span>
                </div>
                <div class="col-md-8">
                    <span id="value_output_{{$index}}"><b>Value</b>: {{outPut.Value}}</span>
                </div>
                <br />
            </div>
        </div>

        <div class="center" ng-if="lumberJackForm.$dirty" ng-messages="lumberJackForm.parseInput.$error" style="color:red" role="alert">
            <ng-message when="required" translate>Parse value required.</ng-message>
            <ng-message when="minlength" translate>Minimum parse length not met.</ng-message>
        </div>

        <div class="center">
            <button ng-show="!hasBeenParsed"
                    ng-disabled="!lumberJackForm.$valid"
                    ng-click="parse()"
                    class="btn btn-primary"
                    tabindex="-1">
                Parse
            </button>

            <button ng-show="hasBeenParsed"
                    ng-click="clear()" class="btn btn-primary">
                Clear
            </button>
        </div>
    </form>

    <script type="text/javascript" src="popup.js"></script>
</body>
</html>
